@model Discussion
@{
    ViewData["Title"] = "Discusiones";
}

<h1 class="is-size-2">@Model.Title</h1>
<p class="is-size-5">@Model.Author.Name</p>
<p class="is-size-4">@Model.Description</p>
<p class="is-size-5">@Model.CreationDate</p>

<hr style="background-color:black" />


@foreach (var response in Model.Responses)
{
    <div style="background-color:gainsboro">
        <p class="is-size-5">@Html.DisplayFor(r=>response.User.Name)</p>
        <p class="is-size-5">@response.CreationDate</p>
        <p class="is-size-4">@response.Message</p>
    </div>
    <br />
}


<form asp-action="CreateResponse">
    <input type="hidden" name="IdDiscussion" value=@Model.Id />

    <div class="field">
        <label for="Message" class="label">Respuesta</label>
        <div class="control">
            <textarea id="Message" name="Message" class="textarea" placeholder="Respuesta..."></textarea>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-link">Publicar</button>
        </div>
    </div>
</form>
