@using Diskussion.Models.ViewModels
@model ProfileViewModel
@{
    ViewData["Title"] = "Mi Perfil";
}

<h1 class="is-size-2">Tu perfil</h1>
<a class="button is-warning" asp-controller="User" asp-action="Edit" asp-route-id="@Model.User.Id">Editar</a>

<p>Nombre de usuario: @Model.User.Name</p>
<p>Email: @Model.User.Email</p>
<p>Fecha de registro: @Model.User.RegistrationDate</p>

<br />
<br />

<h2>Mis discusiones</h2>
@foreach (var discussion in Model.Discussions)
{
    <a style="display:block; padding-top: 1rem; padding-bottom: 1rem; border-top:1.4px solid rgba(242, 247, 103)" asp-action="Open" asp-controller="Discussion" asp-route-id=@discussion.Id>
        <div style="color:black">
            <p style="font-weight:bold">@discussion.Title</p>
            <p>@discussion.Description</p>
        </div>
    </a>

    <div style="margin-top:1rem; display:flex;justify-content:space-between; margin-bottom:.5rem; align-items:center">
        <div>
            <a class="button is-warning" asp-controller="Discussion" asp-action="Open" asp-route-id=@discussion.Id>
                <i class="bi bi-eye-fill"></i>
                Abrir
            </a>
            <a class="button is-danger" asp-action="Delete" asp-controller="Discussion" asp-route-id=@discussion.Id>
                <i class="bi bi-x-circle"></i>
                Eliminar
            </a>
        </div>

        <div style="display:flex;justify-content:flex-end;column-gap:2rem">
            <p style="font-style:italic">Respuestas: @discussion.Responses.Count</p>
            <p style="font-style:italic">Publicado: @discussion.CreationDate</p>
        </div>
    </div>
}




